#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_freecoin
#build/freecoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_freecoin)

DEB_INSTALL_EXAMPLES_freecoind += debian/examples/*
DEB_INSTALL_MANPAGES_freecoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix freecoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f freecoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake freecoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_freecoin
	src/test_freecoin

# Ensure wrapper is set executable
binary-post-install/freecoind:
	chmod +x $(cdbs_curdestdir)usr/bin/freecoind
binary-post-install/freecoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/freecoin-qt
